.bc-nav{
	width:100%;
	height:35px;
	border-bottom:1px solid #00adff;
}
.help-box{
	width:1200px;
	margin:0 auto;
	min-height:600px;
}
.help-left{
	width:210px;
	margin:15px;
	margin-left:0px;
	float:left;
	background: #fff;
	border: 1px solid #dedede;
	box-shadow:-4px -3px 10px -5px;
}
.help-right{
	width:70%;
	min-height:400px;
	background: white;
	float:left;
	margin:15px;
}
.h-new-content{
	padding:10px;
	border: 1px solid #dedede;
	box-shadow:4px -3px 10px -5px;
}
.h-content{
	padding-top: 10px;
	width:100%;
	min-height:370px;
	text-indent: 7px;
    font-family:"microsoft yahei";
}
.h-content .head{
	margin-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
}
.h-content .head p{
	float:left;
	font-size: 16px;
	height:40px;
	line-height:40px;
	border-bottom: 1px solid #2a95dd;
}
.h-title{
	height:36px;
	line-height:36px;
	text-align: center;
	font-size: 16px;
	color:white;
	font-weight: bold;
}
.h-hide ul{
	display: none;
}
.h-hide p{
	margin:10px 5px 0px 0px;
	float:left;
	display: inline-block;
	background: url(../img/img_icon_zksq.png) no-repeat;
	background-position: 0 -57px;
	width: 15px;
	height: 15px;
}
#parent >li> span{
	display: block;
	padding-left: 10px;
}
#parent >li> span:hover{
	cursor: pointer;
}
#parent>li {
	line-height: 33px;
	display: block;
}

 .h-show ul{display: block;}

 .h-show  p{
 	margin:10px 5px 0px 0px;
 	float:left;
	display: inline-block;
	background: url(../img/img_icon_zksq.png) no-repeat;
	width: 15px;
	height: 15px;
}
.h-list{
	border:1px solid transparent;
}

.h-list li{
	width:177px;
	line-height: 20px;
	margin:5px 0px 5px 10px;
	padding:2px 0;
	padding-left:20px;
	cursor:pointer;
}
.h-list .h-curr{
	margin-left:10px;
}
.h-curr{
    color: #00adff;
    font-weight: bold;
}
.h-list a:hover li{
	color:#00adff;
	font-weight: bold;
}
.bc-nav{
	line-height:35px;
}
.bc-nav .home{
	border-left: 2px solid #f12443;
}
.bc-nav>p{
	width:1200px;
	margin:0 auto;
}
.bc-nav>p>a{
	color:gray;
}

/**************************************************  help.html **************************************************/
.b{border:1px solid #e0dddd;}
.h-right-title{
	width:99%;
	height:25px;
	margin-left:5px;
	margin-top:5px;
	border-bottom: 1px solid #00adff;
}
.h-right-title>h4{
	float:left;
	font-size: 19px;
}
.b-99{background: #92dcff;border-left: 5px solid #00adff;}

/**********************************************************  news_list.html ***********************************************/
.h-content .heads{
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding:10px 0;
}
.cat-time{
	text-align: center;
}
.c{clear:both;}

.b-lg{
	color: #666;
	height: 50px;
	line-height: 50px;
    background: -webkit-linear-gradient(left,#cecece,#ffffff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left,#cecece,#ffffff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left,#cecece,#ffffff); /* Firefox 3.6 - 15 */
    background: linear-gradient(left,#cecece,#ffffff); /* 标准的语法 */
    background-repeat:no-repeat;
}

.news-list a,.list-time{
	font-size:13px;
	letter-spacing:2px;
	color:#333333;
}
.news-list li{
	padding: 8px 5px;
	border-bottom: 1px dashed #cccccc;
}
.news-list a:hover{
	font-size:13px;
	letter-spacing:2px;
	color:#2a95dd;
}
.list-time{
	display: block;
	float:right;
}
#g-square {
    margin: 0px 0px 0px -10px;
    width: 20px;
    height: 3px;
    float: left;
}
.n-content{
	width:100%;
	min-height:300px;
	overflow: hidden;
}


/*分页*/
.h-page{
	position: relative;
	width:100%;
	height:100px;
	background:url(../img/img_yingyin.png) 0px 68px no-repeat;
}
.h-page .pagination .active{
	background: #3fba6a;
	color:white;
}
.h-page .pagination .disabled span,.h-page .pagination .active span{
	left:30px;
	line-height: 28px;
	padding-left: 4px;
}
.h-page .pagination{
	position: relative;
	top:32px;
	left:30%;
	width:100%;
	height:30px;
}
.h-page .pagination li{
	margin:0 auto;
	width:28px;
	height:28px;
	border:1px solid #bfbfbf;
	float:left;
	margin-left:10px;
}
.h-page .pagination li a{
	line-height: 28px;
	padding-left: 4px;
}


















