@CHARSET "UTF-8";
/*登录*/
.wst-login-head{
	padding:10px 0px;
	border-bottom:1px solid #e5e5e5;
}
.wst-login-head .pagel{
	border-left:2px solid #f12443;
}
.wst-login-head .pager{
	color:#f12643;
}
.wst-login-head .arrow{
	color:#aeaeae;
}
.wst-login{
	padding:10px 20px 60px 20px;
}
.wst-login_l{
	float:left;
	margin:80px;
}
.wst-login_r{
	margin: 32px 120px 0px 0px;
	padding: 30px 16px 20px 16px;
	float:right;
	border:1px solid #dad7d7;
	border-radius:2px;
	background:#f5f5f5;
}
.wst-login_r .prompt{
	height: 22px;
}
.wst-login_r .prompt td{
	height: 22px;
}
.wst-login-u{
	width:300px;
	height:32px;
	display: block;
	font-size: 16px;
	border-bottom:1px solid #dad7d7;
}
input.wst-login-input,input.wst-regist-input{
	padding:0px;
	padding-left:5px;
	font-size: 13px;
	outline: none;
	width:300px;
	height:36px;
	border-radius:2px;
	border:1px solid #bac4c3;
}
.wst-login-input:focus,.wst-regist-input:focus,.wst-login-codein:focus,.wst-regist-codein:focus,.wst-regist-codemo:focus{
	border-radius:2px;
	border:1px solid #f12643;
}
.wst-login-tr{
	height:35px;
}
.wst-login-code,.wst-regist-code{
	height:36px;
	border-radius:2px;
	border:1px solid #bac4c3;
}
input.wst-login-codein,input.wst-regist-codein{
	padding:0px;
	padding-left:5px;
	width:180px;
	height:36px;
	position:absolute;
	font-size: 13px;
	outline: none;
	border:0;
	border-radius:2px;
}
.wst-login-codeim{
	margin-left:188px;
}
.wst-login-ch{
	position: absolute;
    top: 15px;
    left: 5px;
}

.wst-login-but{
	display: block;
	position: relative;
	background:#fe2443;
	color: #ffffff;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
	overflow: hidden;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}
.wst-login-but{
	position:relative;
	overflow:hidden;
}
.wst-login-but:after{
	content:"";
	background:rgba(255,255,255,0.3);
	display:block;position:absolute;
	border-radius:50%;padding-top:240%;
	padding-left:240%;
	margin-top:-120%;
	margin-left:-120%;
	opacity:0;
	transition:all 1s
}
.wst-login-but:hover,.wst-login-but:active:after{
	background:#e10324;
	padding-top:0;
	padding-left:0;
	margin-top:0;
	margin-left:0;
	opacity:1;
	transition:0s;
}
.wst-login-three{
	height:36px;
	display: block;
	margin-top:40px;
}
/*注册*/
.wst-regist-obtain{
	float:right;
	width:119px;
	height:36px;
	line-height: 36px;
 	background:#f0efef;
 	border-radius: 3px;
 	border: 1px solid #d3c8c7;
 	cursor:pointer;
 	color: #110f0f;
}
.wst-regist-but{
	outline: none;
	background:#fe2443;
 	color: #ffffff;
 	border: 1px solid #d33110;
 	border-radius:3px;
 	cursor:pointer;
}
.wst-regist-but:hover,.wst-regist-but:not(.disabled):not(:disabled):active, .wst-regist-but.active{
	background: #e10324;
	background-clip: padding-box;
}
/*找回密码*/
.stepflex{
	float:right;
	border-top: 5px solid #ccc;
	text-align: center;
	width: 640px;
	margin: 60px 0px 0px 50px;
}
.stepflex dl{
	border-top: 5px solid #ccc;
	float: left;
	position: relative;
	top: -5px;
	width: 160px;
}
dl.doing{
	border-top-color: #ff6b6b;
}
.doing .s-num{
	background-position: -23px 0;
}
.s-num,.s-num1{
	color: #fff;
	font-weight: 700;
	height: 17px;
	line-height: 17px;
	margin: -15px auto 0;
	position: relative;
	width: 17px;
	border-radius:50%;
	border: 3px solid #ff6b6b;
}
.s-num1{
	border: 3px solid #ccc;
}
.s-num,.s-num1{
	background: #fff;
}
.s-text{
	line-height:30px;
}
.forget-pwd{
	border: 1px solid #bac4c3;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    margin: 50px auto;
    padding: 25px 19px 48px;
    width: 666px;
}
input.wst-forget-input{
	padding: 0px;
	padding-left:5px;
	font-size: 15px;
	outline: none;
	width:250px;
	height:30px;
	border-radius:3px;
	border:1px solid #bac4c3;
}
.wst-forget-code,.wst-forget-code2{
	float:left;
	width:255px;
	height:30px;
	border-radius:3px;
	margin-left:20px;
	border:1px solid #bac4c3;
}
input.wst-forget-codein,input.wst-forget-codein2{
	padding: 0px;
	padding-left:5px;
	width:150px;
	height:30px;
	position:absolute;
	font-size: 15px;
	outline: none;
	border:0;
	border-radius:6px;
}
.wst-forget-input:focus,.wst-forget-codein:focus,.wst-forget-codein2:focus{
	border-radius:3px;
	border:1px solid #eb654a;
}
.wst-forget-codeim,.wst-forget-codeim2{
	width:93px;
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
	margin-left:161px;
}
.wst-forget-code2{
	width:230px;
}
input.wst-forget-codein2{
	width:120px;
}
.wst-forget-codeim2{
	width:93px;
	margin-left:137px;
}
.email-verify{
	display:none;
}
.wst-forget-td{
	text-align:right;
	width: 180px;
	color:#626262;
}
.wst-forget-te{
	margin-left:20px;
	font-size: 15px;
}
.wst-forget-select{
	margin-left:20px;
	outline: none;
	width:230px;
	height:30px;
	border-radius:3px;
	border:1px solid #bac4c3;
}
.wst-forget-obtain{
	width:134px;
	line-height: 13px;
	height: 30px;
 	background:#2a95de;
 	border-radius: 3px;
 	border: 1px solid #2a95de;
 	padding:5px 0px;
 	cursor:pointer;
 	color: #fff;
}
.wst-forget-obtain:hover{
 	background:#1369c0;
}
.wst-forget-c{
	text-align:center;
}
.wst-forget-ct{
	font-size: 16px;
	color:#2d2727;
}
.forgetbtn1{
	width:132px;
	height:32px;
	background:#2a95de;
	border:none;
}
.forgetbtn1:active,.forgetbtn1:hover{font-size:14px;background:#1369c0!important;}