{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/webuploader/webuploader.css?v={$v}" />
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/webuploader/batchupload.css?v={$v}" />
<link href="__STATIC__/plugins/validator/jquery.validator.css?v={$v}" rel="stylesheet">
{/block}
{block name="main"}
<style>
body{overflow-y: hidden}
label{margin-right:10px;}
#specsAttrBox .webuploader-container{width:80px;height:25px;line-height:25px;overflow:hidden;}
.wst-tab-3 .webuploader-pick{
	height:40px;border-radius:3px;line-height: 44px;overflow:hidden;
}
.queueList .webuploader-container{height:44px;overflow:hidden;width:100%;}
.statusBar .webuploader-container{height:44px;overflow:hidden;width:auto;}
</style>
<div class="l-loading" style="display: block" id="wst-loading"></div>
<form id='editform' autocomplete='off'>
<div id="wst-tabs" style="width:100%; height:100%;overflow: hidden; border: 1px solid #D3D3d3;" class="liger-tab">
   <div id="wst-tab-1" tabId="wst-tab-1"  title="商品信息" class='wst-tab'  style="height: 99%">
      {include file='goods/edit0'/}
   </div>
   <div id="wst-tab-2" tabId="wst-tab-2" title="商品属性" class='wst-tab-2'  style="height: 99%;"> 
      {include file='goods/edit1'/}
   </div>
   <div id="wst-tab-3" tabId="wst-tab-3" title="商品相册" class='wst-tab-3'  style="height: 99%"> 
      {include file='goods/edit2'/}
   </div>
</div>
</form>
{/block}  
{block name="js"}
<script type='text/javascript' src='__STATIC__/plugins/webuploader/webuploader.js?v={$v}'></script>
<script src="__STATIC__/plugins/kindeditor/kindeditor.js?v={$v}" type="text/javascript" ></script>
<script type="text/javascript" src="__STATIC__/plugins/validator/jquery.validator.js?v={$v}"></script>
<script type="text/javascript" src="__STATIC__/plugins/validator/local/zh-CN.js?v={$v}"></script>
<script type='text/javascript' src='__STATIC__/plugins/webuploader/batchupload.js?v={$v}'></script>
<script type='text/javascript' src='__ADMIN__/goods/goods.js?v={$v}'></script>
<script>
var initBatchUpload = false,editor1 = null,specNum = 0,src='{$src}';
{php}unset($object['goodsDesc']);{/php}
var OBJ = <?=json_encode($object)?>;
$(function(){initEdit()});
</script>
{/block}