{include file="default/header_top" /}
<div class='wst-search-container'>
   <div class='wst-logo'>
   <a href='{$Request.root.true}' title="{:WSTConf('CONF.shopName')}" >
      <img src="__ROOT__/{:WSTConf('CONF.shopLogo')}" height="120" width='240' title="{:WSTConf('CONF.shopName')}" alt="{:WSTConf('CONF.shopName')}">
   </a>
   </div>
   <div class="wst-search-box">
      <div class='wst-search'>
	      <input type="text" id='search-ipt' class='search-ipt' placeholder='{:WSTConf("CONF.adsWordsSearch")}' value='{:isset($keyword)?$keyword:""}'/>
	      <input type='hidden' id='adsWordsSearch' value='{:WSTConf("CONF.adsWordsSearch")}'>
	      <div id='search-btn' class="search-btn" onclick='javascript:WST.search(this.value)'> </div>
      </div>
      <div class="wst-search-keys">
      {php}$searchKeys = WSTSearchKeys();{/php}
      {volist name="$searchKeys" id="vo"}
       <a href='{:Url("home/goods/search","keyword=".$vo)}'>{$vo}</a>
       {if $i< count($searchKeys)}&nbsp;&nbsp;|&nbsp;&nbsp;{/if}
      {/volist}
      </div>
   </div>
   <div class="wst-contact-box">
      <div class="contact-boxl">
          <p class="contact-icon">热线电话：</p>
            {if(WSTConf('CONF.serviceTel')!='')}
              <p class="contact-num">{:WSTConf('CONF.serviceTel')}</p>
            {/if}
      </div>
      <div class="contact-boxr">
        <img src="__STYLE__/img/wst_qr_code.jpg" style="height:100px;">
      </div>
      
   </div>
   <div style='clear:both;'></div>
</div>

<div class="wst-clear"></div>
{/* 左侧菜单栏 */}
<div class="wst-nav-menus">
   <div class="nav-w" style="position: relative;">
      <div class="w-spacer"></div>
      <div class="dorpdown {if isset($hideCategory)}j-index{/if}" id="wst-categorys">
         <div class="dt j-cate-dt">
             <a href="{:Url('home/goods/lists')}" target="_blank">全部商品分类</a>
         </div>
         <div class="dd j-cate-dd" {if !isset($hideCategory)}style="display:none" {/if}>
            <div class="dd-inner">
                 {volist name=":WSTSideCategorys()" id="vo" key="k" length="7"}
                 <div id="cat-icon-{$k}" class="item fore1 {if ($key>=12)}over-cat{/if}">
                     <h3>
                      <div class="{if ($key>=12)} over-cat-icon {else /} cat-icon-{$k} {/if}"></div>
                      <a href="{:Url('home/goods/lists','cat='.$vo['catId'])}" target="_blank">{$vo['catName']}</a>
                     </h3>

                     {php}if(isset($vo['list'])){{/php}
                     <div class="second-cat">
                      {volist name="vo['list']" id="vo2"}
                        <a href="{:Url('home/goods/lists','cat='.$vo2['catId'])}">{$vo2['catName']}、</a>
                      {/volist}
                     </div>
                     {php}}{/php}
                 </div>
                 {/volist}
             </div>
             <div style="display: none;" class="dorpdown-layer" id="index_menus_sub">
                 {volist name=":WSTSideCategorys()" id="vo" key="k"}
                  <div class="item-sub" i="{$k}">

                       <div class="subitems">
                          {php}if(isset($vo['list'])){{/php}
                          {volist name="vo['list']" id="vo2"}
                           <dl class="fore2">
                               <dt >
                                  <a target="_blank" href="{:Url('home/goods/lists','cat='.$vo2['catId'])}">{$vo2['catName']}</a>
                               </dt>
                               <dd>
                                  {php}if(isset($vo2['list'])){{/php}
                                  {volist name="vo2['list']" id="vo3"}
                                  <a target="_blank" href="{:Url('home/goods/lists','cat='.$vo3['catId'])}">{$vo3['catName']}</a>
                                  {/volist}
                                  {php}}{/php}
                               </dd>
                            </dl>
                           {/volist}
                           {php}}{/php}
                        </div>
                  </div>
                  {/volist}
             </div>
        </div>
      </div>
      {/* 横栏菜单 */}
      <div id="wst-nav-items">
           <ul>
               {volist name=":WSTNavigations(0)" id='vo'}
               <li class="fore1">
                    <a href="{$vo['navUrl']}" {if $vo['isOpen']==1}target="_blank"{/if}>{$vo['navTitle']}</a>
               </li>
               {/volist}
           </ul>
           <a class="wst-cart" href="{:url('home/carts/index')}" ondragstart="return false;">
                 <em>购物车</em>
                 <p class="wst-cartNum j-word" id="goodsTotalNum">0</p>
                  <div class="wst-cart-boxs hide">
                    <div id="list-carts"></div>
                    <div id="list-carts2"></div>
                    <div id="list-carts3"></div>
                    <div class="wst-clear"></div>
                  </div>
              {/* 购物车 */}
              <script id="list-cart" type="text/html">
              {{# for(var i = 0; i < d.list.length; i++){ }}
                <div class="goods" id="j-goods{{ d.list[i].cartId }}">
                    <div class="imgs"><a href="__ROOT__/home/goods/detail/id/{{d.list[i].goodsId }}"><img class="goodsImgc" data-original="__ROOT__/{{ d.list[i].goodsImg }}" title="{{ d.list[i].goodsName }}"></a></div>
                    <div class="number"><p><a  href="__ROOT__/home/goods/detail/id/{{d.list[i].goodsId }}">{{WST.cutStr(d.list[i].goodsName,26)}}</a></p><p>数量：{{ d.list[i].cartNum }}</p></div>
                    <div class="price"><p>￥{{ d.list[i].shopPrice }}</p><span><a href="javascript:WST.delCheckCart({{ d.list[i].cartId }})">删除</a></span></div>
                </div>
              {{# } }}
              </script>
           </a>
           <div class="wst-clear"></div>
      </div>

      <span class="wst-clear">
        
      </span>
       
    </div>
</div>
<div class="wst-clear"></div>
