@CHARSET "UTF-8";
body,html{height:100%;}
body{padding:0px; margin:0;overflow-x:hidden;}  
/*自定义提示图标*/
.layui-layer-icowst1,.layui-layer-icowst2,.layui-layer-icowst3{
  background-image:url(../../../../static/images/wst_icon.png) !important;
  background-repeat: no-repeat !important;
  background-size: cover!important;
}
.layui-layer-icowst2{background-position: -40px 0!important;}
.layui-layer-icowst3 {background-position: -80px -1px!important;}
.layui-layer-icowstloading{
  background-image:url(../../../../static/images/loading.gif) !important;
  background-repeat: no-repeat !important;
  background-size: 206% auto !important;
  background-position: -16px -16px !important;
}

/* 顶部 */
.wst-top-link{ display:inline-block; height:26px; line-height:26px; padding-left:10px; text-decoration:underline; color:#333;}
.wst-link{ display:block; height:26px; line-height:26px; padding-left:10px; text-decoration:underline; color:#333;}
.wst-link:hover{ background:#FFEEAC;} 
.wst-link-selected{ background:#FFEEAC;} 

.wst-space{ color:#E7E7E7;}
.wst-topmenu{ margin:0; padding:0; height:88px; line-height:31px; background:url(../img/img_top_bg.png);position:relative; border-top:1px solid #1D438B;  }
.wst-topmenu-logo{ color:#E7E7E7; padding-left:5px; line-height:26px;}
.wst-topmenu-welcome{  position:absolute; height:24px; line-height:24px;  right:30px; top:2px;color:#070A0C;}
.wst-topmenu-welcome a{ color:#ffffff; text-decoration:none} 
.wst-topmenu-welcome .website{background:url('../img/icon_topmenu.png') -5px -5px no-repeat;width:15px;height:15px;background-size:700%;display: inline-block;}
.wst-topmenu-welcome .support{background:url('../img/icon_topmenu.png') -58px -5px no-repeat;width:16px;height:15px;background-size:700%;display: inline-block;}
.wst-topmenu-welcome .clear{background:url('../img/icon_topmenu.png') -38px -5px no-repeat;width:15px;height:15px;background-size:700%;display: inline-block;}
.wst-topmenu-welcome .password{background:url('../img/icon_topmenu.png') -69px -5px no-repeat;width:15px;height:15px;background-size:700%;display: inline-block;}
.wst-topmenu-welcome .logout{background:url('../img/icon_topmenu.png') -84px -5px no-repeat;width:15px;height:15px;background-size:700%;display: inline-block;}
#wst-pageinit{position:absolute; left:0px; top:0px; width:100%; background:white url('../img/loading.gif') no-repeat centerheight:100%;z-index:99999;}

/* 按钮 */
.btn{-moz-user-select: none;background-image: none;border: 1px solid #cccccc;cursor: pointer;display: inline-block;font-size: 14px;font-weight: normal;line-height: 1.42857;margin-bottom: 0;text-align: center;vertical-align: middle;white-space: nowrap;border-radius: 3px;height: 24px;line-height: 1.2;padding: 2px 8px;background: #fafafa none repeat scroll 0 0;}
.btn-green {background: #43B97E none repeat scroll 0 0;border-color: green;color: #ffffff;}
.btn-red {background: red none repeat scroll 0 0;border-color: red;color: #ffffff;}
.btn-blue {background: #1D9ED9 none repeat scroll 0 0;border-color: #157ABF;color: #ffffff;}
.btn:hover, .btn:focus, .btn:active, .btn.active{
    background-color: #ddd;
}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active{
    background-color: green;
    border-color: green;
    color: #ffffff;
}
.btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red.active{
    background-color: red;
    border-color: red;
    color: #ffffff;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active{
    background-color: #428bca;
    border-color: #428bca;
    color: #ffffff;
}
.btn-disabled{color:#ccc;}
/* 工具条 */
.wst-toolbar{padding:5px;}
.wst-body{padding:5px;}
.wst-footer{padding-bottom:20px;text-align:center;}
.f-right{float:right}
.f-left{float:left}
.f-clear{clear:both}
/* 表单 */
.wst-form{width:100%;margin-bottom:20px;}
.wst-form input.cfg,.wst-form input.textarea{width:340px;}
.wst-form th{text-align:right;}
.wst-form td{padding:2px 5px;}
.wst-box-top{margin-top:5px;}
label{margin-right:10px;}
input[type=text],input[type=password]{
    background:#ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    color: #222;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    padding: 2px 5px;
    position: relative;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: auto;
    margin:2px;
}
input[type=text]:disabled{
    background:#ddd;
}
textarea{
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    color: #222;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: inline-block;
    font-size: 14px;
    padding: 2px 5px;
    position: relative;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    margin:2px;
}

select{
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  height: 24px;
  margin:2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
input[type="radio"],input[type="checkbox"]{margin:2px;}
td.head-ititle{background:url('../img/img_seller_ggjt.png') no-repeat 5px 4px;padding-left:28px;padding-bottom:5px;font-weight:bold;}
/**插件样式覆盖**/
.webuploader-pick{
	background:#1d9ed9;height:24px;border-radius:3px;line-height:24px;overflow:hidden;
}
.webuploader-container{height:24px;overflow:hidden;width:300px;}

.l-text {
    background: white none repeat scroll 0 0;
    border: 1px solid #ffffff;
    height: 25px;
    line-height: 25px;
    position: relative;
    width: 160px;
    margin:2px;
}
.l-trigger, .l-trigger-hover, .l-trigger-pressed {top: 6px;}
#wst-tabs .l-tab-links {border-bottom:3px solid #157ABF;}
.l-tab-links {border-bottom:2px solid #157ABF;}
.l-tab-links {background:none;}
.l-tab-links li {background: url("../img/tabs-item-over-bg.gif") repeat scroll 0 0;}
.l-tab-links .l-tab-links-item-right {background: url("../img/tabs2-item-right-bg.gif") repeat scroll 0 0;}
.l-tab-links .l-tab-links-item-left {background: url("../img/tabs2-item-left-bg.gif") repeat scroll 0 0;}
.l-tab-links li.l-selected {background: url("../img/tabs-item-bg.gif") repeat scroll 0 0;}
.l-tab-links .l-selected .l-tab-links-item-right {background: url("../img/tabs-item-right-bg.gif") repeat scroll 0 0;}
.l-tab-links .l-selected .l-tab-links-item-left {background: url("../img/tabs-item-left-bg.gif") repeat scroll 0 0;}
.l-tab-links li a{margin-left:33px;}
.l-tab-links li.l-selected a{color:#ffffff;}
#wst-tabs .l-tab-links li a{margin-left:33px;font-weight: bold;}
#wst-tabs .l-tab-links li.l-selected a{color:#ffffff;font-weight: bold;}
.l-layout-left .l-layout-header-toggle{background:url("../img/togglebar.gif") repeat scroll -20px 0}
.l-layout-header,.l-accordion-header {background:url("../img/layout-header.gif") repeat scroll -20px 0}
.l-layout-header .l-layout-header-inner,.l-accordion-header .l-accordion-header-inner,.l-layout-header{color:#ffffff;}
.l-layout-collapse-left, .l-layout-collapse-right {background: #43AEDF}
.l-accordion-toggle  {background:url("../img/togglebar.gif") repeat scroll 0 0;}
.l-accordion-toggle-open {background-position: 0 -40px;}
.l-accordion-toggle-close {background-position: 0 0;}

.l-grid-header {background: #ffffff url("../img/header-bg.gif") repeat-x scroll left bottom;border-bottom: 1px solid #ddd;overflow: hidden;width: 100%;}
.l-grid-hd-cell {border-right: 1px solid #ddd;margin: 0;overflow: hidden;padding: 0;text-align: center;}
.l-grid-row-alt .l-grid-row-cell-rownumbers, .l-selected .l-grid-row-cell-rownumbers, .l-grid-row-over .l-grid-row-cell-rownumbers, .l-grid-row-cell-rownumbers {background: #eeeeee none repeat scroll 0 0;}
.l-grid-row-cell {border-bottom: 1px dotted #A3bae9;border-right: 1px solid #ddd;overflow: hidden;text-align: center;}
.l-panel-bar {background:url("../img/bar-bg.gif")}
#maingrid{border: 1px solid #ddd;}
.wst-grid-tree .row-hover{background:#e0ecff;}
.wst-grid-tree .row-selected{background:#dcf8a8}
.wst-grid-tree .row-selected2{}
.wst-grid-tree .bg-color{background:#f5f5f5}
.wst-grid-tree .bg-color2{}


.layui-layer-btn .layui-layer-btn0 {  background-color: #1d9ed9;border-color: #4898d5;color: #fff;}
/**订单详情**/
.order-box{margin-bottom:5px;border-bottom:1px solid #ddd;}
.order-box .box-head{font-weight:bold;height:30px;line-height:30px}
.order-box .delivery-box{height:100px;border-bottom:1px solid #ddd;}
.order-box th{font-weight:normal;}
.order-box .goods-head{border-top:2px solid #FC7A64;background: #f3f3f3;display: block;height: 25px;line-height: 25px;margin: 0 0 10px;padding: 5px 0;}
.order-box .goods-head .goods{float:left;width:650px;padding-left:15px}
.order-box .goods-head .price{float:left;width:100px;}
.order-box .goods-head .num{float:left;width:100px;}
.order-box .goods-head .t-price{float:left;width:105px;}
.order-box .shop{padding-left:15px;height:25px;line-height:25px;border-bottom:2px solid #FDD8D2;color:#E55356;font-weight:bold;font-size:15px;}
.order-box .item{padding-top:5px;padding-bottom:5px;border:1px solid #eeeeee;}
.order-box .item .goods{float:left;width:650px;padding-left:15px;}
.order-box .item .goods .img{float:left;width:80px;height:80px;}
.order-box .item .goods .name{float:left;width:390px;height:80px;margin-left:5px;}
.order-box .item .goods .spec{float:left;width:165px;margin-left:5px;}
.order-box .item .price{float:left;width:100px;}
.order-box .item .num{float:left;width:100px;}
.order-box .item .t-price{float:left;width:100px;}
.order-box .goods-footer{padding-right:10px;margin-bottom:10px;}
.order-box .line{border-top:1px solid #dddddd;}
.order-box .goods-summary{margin-top:10px;}
.order-box .summary{height:30px;line-height:30px;}
.order-box .orderScore{margin-right:5px;}
.order-box .log td{height:25px;line-height:25px;padding-left:15px;}
/*流程图*/
.order-box .log-box{height:132px;}
.order-box .log-box .icon{float:left;width:60px;height:60px;}
.order-box .log-box .icons{float:left;width:60px;height:60px;}
.order-box .log-box .icon11{background:url(../img/user_icon_rzxx.png) -15px -12px no-repeat;}
.order-box .log-box .icon21{background:url(../img/user_icon_rzxx.png) -105px -12px no-repeat;}
.order-box .log-box .icon31{background:url(../img/user_icon_rzxx.png) -194px -12px no-repeat;}
.order-box .log-box .icon41{background:url(../img/user_icon_rzxx.png) -282px -12px no-repeat;}
.order-box .log-box .icon51{background:url(../img/user_icon_rzxx.png) -373px -12px no-repeat;}

.order-box .log-box .icon12{background:url(../img/user_icon_rzxx.png) -15px -62px no-repeat;}
.order-box .log-box .icon22{background:url(../img/user_icon_rzxx.png) -105px -62px no-repeat;}
.order-box .log-box .icon32{background:url(../img/user_icon_rzxx.png) -194px -61px no-repeat;}
.order-box .log-box .icon42{background:url(../img/user_icon_rzxx.png) -282px -63px no-repeat;}
.order-box .log-box .icon52{background:url(../img/user_icon_rzxx.png) -373px -62px no-repeat;}

.order-box .log-box .icon13{background:url(../img/user_icon_rzxx.png) -19px -123px no-repeat;}
.order-box .log-box .icon23{background:url(../img/user_icon_rzxx.png) -105px -122px no-repeat;}
.order-box .log-box .icon33{background:url(../img/user_icon_rzxx.png) -194px -121px no-repeat;}
.order-box .log-box .icon43{background:url(../img/user_icon_rzxx.png) -282px -122px no-repeat;}
.order-box .log-box .icon53{background:url(../img/user_icon_rzxx.png) -373px -121px no-repeat;}
.order-box .log-box .arrow{float:left;color: #979797;font-size: 15px;font-weight: bold;margin-top:18px;}
.order-box .log-box .arrow2{color: #7ebb53;}
.order-box .log-box .state{float:left;width:100%;margin-left:18px;}
.order-box .log-box .state2{float:left;width:100%;position: relative;}
.order-box .log-box .state2 p{float:left;width:178px;height:50px;text-align:left;margin-left:15px;color:#f05858;font-size: 15px;}
.order-box .log-box .state2 .path{position: absolute;z-index: 10;}
.order-box .log-box .state2 .path span{float:left;width:178px;height:50px;text-align:left;margin-left:15px;background: #ffffff;}
/**推荐管理**/
.recom-lbox{width:350px;height:350px;border:1px solid #ddd;padding:5px;text-align:left;overflow-x:hidden;overflow-y:auto;}
.recom-lbox .head,.recom-rbox .head{border-bottom:1px solid #eee;}
.recom-lbox .tck,.recom-rbox .tck {float: left;height: 30px;overflow: hidden;width: 25px;}
.recom-lbox .ttxt{float:left;height: 30px;overflow: hidden;width: 305px;}
.recom-lbox .trow {backbgound:#eeeeee;height: 30px;overflow: hidden;line-height:30px;}
.recom-rbox{width:420px;height:350px;border:1px solid #ddd;padding:5px;text-align:left;overflow-x:hidden;overflow-y:auto;}
.recom-rbox .tck{float:left;height: 30px;overflow: hidden;width: 25px;}
.recom-rbox .ttxt{float:left;height: 30px;overflow: hidden;width: 325px;}
.recom-rbox .top {float:left;width: 70px;}
.recom-rbox .trow {height: 30px;overflow: hidden;width: 420px;line-height:30px;}
.recom-rbox .s-sort{width:20px;}
/**树形表格插件样式**/
.wst-grid-tree-hd{background: #ffffff url("../img/header-bg.gif") repeat-x scroll left bottom;border-bottom: 1px solid #ddd;}
/**后台主页**/
.wstshop-login-tips{border-bottom: 1px solid #dddddd;box-shadow: 0 1px 3px #ddd;line-height: 30px;padding-left: 10px;}
.wstshop-version-tips,.wstshop-accredit-tips{border-bottom:1px solid #ddd; box-shadow: 0 1px 3px #ddd;display:none;background:url('../img/ico_5.png') no-repeat;font-weight:bold;height:25px;line-height:23px;padding-left:30px;}
.wstshop-version-tips a,.wstshop-accredit-tips a{color:#E9754F;}
.wstshop-version-tips a:hover,.wstshop-accredit-tips a:hover{color:#FE9C3D;}
.wst-summary{margin:5px;border:1px solid #ddd;margin-bottom:20px;max-width: 99%;width:99%;border-collapse:collapse;border-spacing: 0;}
.wst-summary .wst-summary-head{background:url("../img/img_seller_ggjt.png") no-repeat scroll 5px 7px;font-weight: bold;margin:5px;padding-left:28px;}
.wst-summary tr:nth-child(2n){background:#f9f9f9;}
.wst-summary td{padding:5px;vertical-align: middle;border: 1px solid #ddd;}
.wst-summary tr:hover{background:#f9f9f9;}
.wst-desc-head{height:25px;line-height:25px;font-weight:bold;margin: 5px 5px 2px 5px;}
.wst-desc-body{height:20px;line-height:20px;margin-left: 5px;}
.wst-desc-body a{color:#000000;text-decoration:none;}

.tbr-m{padding:0px 5px 0px 5px;height:30px;line-height:30px;}


/***微信自定义菜单***/
.wst-views{float: left;width: 26%;height: 60%;}
.wst-views .reveal{margin: 0 auto;width: 68%;height: 100%;border: 1px solid #e7e7eb;position:relative;}
.wst-views .revealt{position: absolute;left:0;top:0;width: 100%;height:65px;background: url(../img/img_topinfo.png) 0px 0px no-repeat;background-size: 100%;}
.wst-views .revealb{position: absolute;left:0;bottom:0;width: 100%;height:46px;border-top: 1px solid #e7e7eb;}
.wst-views .revealb i{float: left;width: 15%;height:46px;background: url(../img/img_dibu.png) -5px -10px no-repeat;}
.wst-views .ui{float: right;width: 85%;height:46px;display: -webkit-box;}
.wst-views .li{-webkit-box-flex: 1;display: block;line-height: 46px;text-align: center;border-left: 1px solid #e7e7eb;cursor:pointer;position:relative;}
.wst-views .li:hover,.wst-views .li .list:hover{background: #eee;}
.wst-views .selected{background: #eee;}
.wst-views .li .lis{position: absolute;left:0;bottom:46px;width: 100%;border: 1px solid #e7e7eb;}
.wst-views .li .list{float: left;width: 100%;border-bottom: 1px solid #e7e7eb;}
.wst-maingr{float: right;width: 72%;}
.wst-view{float: left;width: 200px;height: 200px;background: #eee;}
.wst-view a{display: block;height: 200px;line-height: 200px;text-decoration: none;text-align: center;color: #3295d3;}
.wst-view a:hover{color: #56b7f5;}



/***风格切换***/
.style-main{padding:10px;}
.style-box{width:200px;height:300px;border:1px solid #ddd;padding:5px;margin:5px;float:left;}
.style-box .style-img{width:200px;height:200px;text-align:center;vertical-align:middle;display:block;position:relative}
.style-box .style-img img{width:200px;height:200px;}

.style-box .style-img a{display:table-cell;vertical-align:middle;width:200px; height:200px;border:1px solid #ddd;} 
.style-box .style-img a img{max-width:200px;max-height:200px; } 
.style-box .style-txt,.style-box .style-author,.style-box .style-web{width:200px;height:25px;overflow:hidden;text-align:left;line-height:25px;}
.style-box .style-op{height:30px;text-align: center;overflow:hidden;}
/***新增商品***/
.spec-head {background: rgba(0, 0, 0, 0) url("../img/img_seller_ggjt.png") no-repeat scroll 0 7px;font-weight: bold;height: 30px;line-height: 30px;padding-left: 25px;}
.spec-line {border-top: 1px dashed #cccccc;margin: 5px 0 7px;}
.specs-sale-table {border: 1px solid #dddddd;border-collapse: collapse;margin-bottom: 10px;width: 97%;}
.specs-sale-table th {background: #eeeeee none repeat scroll 0 0;border: 1px solid #dddddd;padding-top: 5px;text-align: center;}
.specs-sale-table td {border: 1px solid #dddddd;text-align: center;}
.spec-item {float: left;}
input[type="text"].spec-sale-ipt{width: 50px;}
input[type="text"].spec-ipt{width: 80px;}
.spec-item .item-del {background: rgba(0, 0, 0, 0) url("../img/icon_no.png") repeat scroll 0 0;cursor: pointer;display: inline-block;height: 13px;left: -10px;position: relative;top: -10px;width: 13px;}
.goods-valign-m{margin-top:20px;}
.w-r {cursor: pointer;height: 15px;margin-left: 8px;width: 15px;margin-top:20px}
.wrong {background: url("../img/seller_icon_error.png") no-repeat scroll 0 0;}
.right {background: url("../img/seller_icon_right.png") no-repeat scroll 0 0;}