{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/js/wstgridtree.js?v={$v}" type="text/javascript"></script>
<script src="__ADMIN__/freights/freights.js?v={$v}" type="text/javascript"></script>
<script>
$(function(){initGrid();})
</script>
{/block}
{block name="main"}
<input type="hidden" id="deFreight" name="deFreight" value="{$deFreight}" autocomplete="off"/>
<div class="l-loading" style="display: block" id="wst-loading"></div>
<div class="wst-toolbar f-right">
	 默认运费：<input class="ipt_0_-1" type='text' id='key' placeholder='' onblur="javascript:editFreights(0,-1,1)"/>  
   	 <div style='clear:both'></div>
</div>
<div id="maingrid"></div>
{/block}